@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ABeeZee', sans-serif;
}

.App {
  position: relative;
  height: 100vh;
  background-color: #ddd;
  border-radius: 25px;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .App {
    display: flex;
  }
}
