.mainPanel {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.weatherBigLogo {
  margin: 10px 0 0 22px;
}

.errorImg {
  width: 70%;
  margin-bottom: 20px;
}

.weatherPanel {
  margin: 10px 0 0 30px;
}

.mainTemp,
.cityName,
.error {
  margin: 0 0 10px 0;
  font-size: 25px;
}

.dayOfWeek {
  font-size: 15px;
  font-weight: bold;
}

.mainInfoWrapper::after {
  height: 1px;
  margin: 20px 30px 20px 0;
  background-color: #777;
  content: '';
  display: block;
}

.time {
  font-weight: normal;
  color: #777;
}

.cloudSymbol,
.windSymbol,
.errorSymbol {
  display: flex;
  font-size: 18px;
  margin-bottom: 12px;
}

.errorSymbol span {
  color: #f19020;
  margin-top: 10px;
}

.cloudInfo,
.windInfo,
.errorMessage {
  padding-left: 15px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .weatherBigLogo {
    margin: 10px 0 0 0;
  }
  .weatherPanel {
    margin: 10px 0 0 50px;
  }

  .mainInfoWrapper {
    display: flex;
    flex-direction: column;
  }

  .errorImg {
    width: 45%;
    margin-bottom: 20px;
  }

  .mainTemp,
  .cityName,
  .error {
    margin: 0 0 20px 0;
    font-size: 50px;
  }
  .dayOfWeek {
    font-size: 40px;
  }

  .cloudSymbol,
  .windSymbol,
  .errorSymbol {
    display: flex;
    font-size: 38px;
    margin-bottom: 32px;
  }

  .mainInfo {
    margin-top: 5px;
  }

  .errorSymbol span {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .errorSymbol {
    padding: 20px;
  }

  .errorSymbol span {
    margin-top: 18px;
  }
}

@media (min-width: 560px) and (orientation: landscape) {
  .weatherBigLogo {
    width: 30%;
    margin: 10px 0 0 0;
  }
  .weatherPanel {
    margin: 10px 0 0 50px;
  }

  .errorImg {
    width: 100%;
    margin-bottom: 20px;
  }
  .mainTemp,
  .cityName,
  .error {
    margin: 0 0 20px 0;
  }

  .mainInfoWrapper {
    display: flex;
    margin-bottom: 30px;
  }

  .mainInfo {
    margin: 25px 0 0 60px;
  }

  .errorSymbol span {
    margin-top: auto;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .mainPanel {
    height: 100%;
    width: 35%;
  }
  .weatherBigLogo {
    width: 100%;
    margin: 10px 0 0 0;
  }

  .weatherBigLogo {
    margin: 10px 0;
  }
  .errorImg {
    width: 60%;
  }

  .weatherBigLogo img {
    width: 60%;
  }

  .mainInfoWrapper {
    display: block;
    margin-bottom: 20px;
  }

  .mainInfo {
    margin: 25px 0 0 0;
  }

  .errorSymbol span {
    margin-top: 10px;
  }
}

@media (min-width: 1360px) and (orientation: landscape) {
  .mainPanel {
    height: 100%;
    width: 25%;
  }
}
