.tiles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100px;
  width: 45%;
  background-color: #fff;
  border-radius: 20px;
  margin: 4px;
  padding-left: 15px;
}

.title {
  font-size: 18px;
  color: #777;
}

.mainInfo {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.sunImg {
  padding-right: 10px;
  width: 20%;
}

.imageContainer {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) and (orientation: portrait) {
  .tiles {
    height: 250px;
    padding-left: 40px;
    margin: 10px;
  }

  .title {
    font-size: 40px;
  }

  .mainInfo {
    font-size: 50px;
  }
}
