.tileContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100px;
  width: 45%;
  background-color: #fff;
  border-radius: 20px;
  margin: 4px;
  padding-left: 15px;
}

.tileTitle {
  font-size: 18px;
  color: #777;
}

.tileMainInfo {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

@media (min-width: 768px) and (orientation: portrait) {
  .tileContainer {
    height: 250px;
    padding-left: 40px;
    margin: 10px;
  }

  .tileTitle {
    font-size: 40px;
  }

  .tileMainInfo {
    font-size: 50px;
  }
}
