.search {
  display: flex;
  width: 80%;
  padding: 30px 0 30px 30px;
  font-size: 18px;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.searchInput {
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
  color: #000;
  cursor: pointer;
}
.searchInput:focus {
  color: #000;
}

.searchIcon {
  margin-top: 2px;
  margin-right: 10px;
  text-align: center;
  color: #000;
  font-size: 16px;
}

@media (min-width: 410px) and (orientation: portrait) {
  .searchInput {
    font-size: 24px;
  }
  .searchIcon {
    margin-top: 5px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .search {
    margin: 25px 0 0 25px;
  }

  .searchInput {
    font-size: 30px;
  }
  .searchIcon {
    margin-top: 8px;
    font-size: 22px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .search {
    margin: 25px 0 0 25px;
  }

  .searchInput {
    font-size: 40px;
  }
  .searchIcon {
    font-size: 32px;
  }
}
